pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
nltk
spacy
textblob
wordcloud
langdetect
google-genai
python-dotenv
sentence-transformers
hdbscan
umap-learn
streamlit
plotly
jupyter
playwright
beautifulsoup4
lxml
